In [2]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [12]:
# this blog of code allows me to import my secrets file from the conf folder in my 
# current jupyter notebook
root_dir = os.path.join(os.getcwd(), '..')
sys.path.append(root_dir)

src_dir = os.path.join(os.getcwd(), '..', 'src', 'data' )
sys.path.append(src_dir)

In [10]:
from make_dataset import *

In [15]:
from dotenv import load_dotenv, find_dotenv

In [22]:
# find .env automatically by walking up directories until it's found
dotenv_path = find_dotenv()
# load up the entries as environment variables
load_dotenv(dotenv_path)

ALPHA_VANTAGE_KEY= os.environ.get("ALPHA_VANTAGE_KEY")
# Download data as CSV from API 
function = 'TIME_SERIES_DAILY_ADJUSTED'
symbol = 'MSFT'
datatype = 'csv'
url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&datatype={datatype}&apikey={ALPHA_VANTAGE_KEY}"

msft_raw = pd.read_csv(url)

# before making any changes save this to raw data folder
msft_raw.to_csv('../data/raw/msft_raw.csv', index=False)

In [23]:
msft_raw

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0
1,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0
2,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0
3,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0
4,2021-04-26,261.660,262.4350,260.170,261.55,261.550000,19763346,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0
96,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0
97,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0
98,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0
99,2020-12-07,214.370,215.5400,212.990,214.29,213.799714,24619997,0.0,1.0

In [26]:
from src.utils.utility import *

In [27]:
alphavantage_api_csv_download_raw(function="TIME_SERIES_DAILY_ADJUSTED", symbol="MSFT", alphavantage_api_key="ALPHA_VANTAGE_KEY")

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0
1,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0
2,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0
3,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0
4,2021-04-26,261.660,262.4350,260.170,261.55,261.550000,19763346,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0
96,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0
97,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0
98,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0
99,2020-12-07,214.370,215.5400,212.990,214.29,213.799714,24619997,0.0,1.0

In [30]:
# import data from 'data/raw' data folder into the processing notebook
msft_proc= pd.read_csv(os.path.join(os.getcwd(), '..', 'data/raw/msft_raw.csv'))
# Let's take a look at our dataset
msft_proc.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-04-30,249.740,253.0800,249.60,252.18,252.18,30945098,0.0,1.0
1,2021-04-29,255.460,256.1000,249.00,252.51,252.51,40589023,0.0,1.0
2,2021-04-28,256.078,256.5399,252.95,254.56,254.56,46903119,0.0,1.0
3,2021-04-27,261.585,263.1900,260.12,261.97,261.97,31014213,0.0,1.0
4,2021-04-26,261.660,262.4350,260.17,261.55,261.55,19763346,0.0,1.0

In [31]:
# Build features